<h3 style="font-size: 22px;">快来找回您在dzbsm丢失的密码</h3>
                                                                                        <p style="font-size: 18px; ">点下面黄色框框重置密码！</p><div style="text-decoration: no
ne; outline: none; background-color: rgb(253, 216, 22); float: left; border-bottom: 2px solid rgb(246, 174, 18); color: rgb(51, 51, 51); margin-top: 8px; cursor: pointer; width
: 160px; height: 20px; line-height: 20px; text-align: center; padding: 5px 9px;"><a href="http://{{domain}}/users/reset/{{active_code}}" style="color: rgb(51, 51, 51);">点击进>
入重置密码页面</a></div>
